:root {
    --tp-theme-color: #0057FC;
    --tp-theme-color-2: #FFE815;
    --tp-theme-orange: #FF5B15;
    --tp-heading-color: #0A0E1A;
    --tp-body-color: #57595C;
    --tp-body-nblou-color: #001C52;
    --tp-common-black: #0A0E1A;
    --tp-black: black;
    --tp-cream: #FBF6EF;
    --tp-white: white;
    --tp-rom-color: #FBF6EF;
    --tp-grey-color: #f6f6f6;
    --tp-grey-color-2: #f6f6f6;
    --tp-grey-color-3: #f6f6f6;
    --tp-grey-color-4: #f6f6f6;
}
