@use '../../utils' as *;

.footer-sep{
    background-color: rgba(255,255,255, 0.6);
    height: 1px;
}
.tpfooter-social{
    color: #fff;
    opacity: .6;
    @media #{$md} {
        padding-left: 0;
    }
    & a{
        margin-left: 20px;
        font-size: 25px;
    }
}
.tpfooter-widget-area{
    border-bottom: 1px solid rgba(255,255,255, 0.6);

}
.tpfooter-widget{
    @media #{$md} {
        padding-left: 20px;
        padding-right: 0;
    }
    &-title{
        color: #FFFFFF;
        font-size: 20px;
        line-height: 30px;
    }
    &-content{
        color: #B1B4BA;
        font-size: 17px;
        line-height: 28px;
    }
    & ul {
        list-style: none;
        & li{
            margin-bottom: 10px;
            & a{
                color: #B1B4BA;
                font-size: 17px;
            }
        }
    }

}
.tpfooter-contact-item{
    & span{
        font-size: 17px;
        line-height: 28px;
        color: #B1B4BA;
    }
    & h4{
        color: #FFFFFF;
        font-size: 30px;
        line-height: 40px;
        @media #{$xl, $lg} {
            font-size: 22px;
        }
        @media #{$md} {
            font-size: 18px;
        }
    }
}
.right-border{
    border-right: 1px solid rgba(255,255,255, 0.6);
}
.tpfooter-copyright-area{
    & p{
        font-size: 17px;
        line-height: 28px;
        color: #B1B4BA;
        & a{
            color: var(--tp-theme-color-2);
        }
    }
    & .tpfooter-menu{
       
        & ul{
            
            display: flex;
            justify-content: end;
            @media #{$md} {
                justify-content: center;
            }
            list-style: none;
            & li{
                margin-left: 30px;
                padding-left: 30px;
                position: relative;
                &::before{
                    content: "";
                    height: 12px;
                    width: 1px;
                    position: absolute;
                    background-color: #fff;
                    left: 0;
                    top: 8px;
                }
                &:first-child{
                    margin-left: 0;
                    padding-left: 0;
                    &::before{
                        display: none;
                    }
                }
                & a{
                    color: #B1B4BA;

                }
            }
        }
    }
}
.tpfooter-shape{
    &-1{
        top: 50%;
        transform: translateY(-50%);
        left: 310px;
        z-index: 1;

    }
    &-2{
        top: 106px;
        left: 905px;
        z-index: 1;
  
        @media #{$md} {
            display: none;
        }
    }
    &-3{
        bottom: 63px;
        right: 205px;
        z-index: 1;
      

    }
    &-4{
        top: 55px;
        right: 100px;
        z-index: 1;

    }
}