@use '../utils' as *;


.w-img{
	& img{
		width: 100%;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}
img{
	max-width: 100%;
}

.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.z-index-1{
	z-index: 1;
}

.z-index-11{
	z-index: 11;
}

.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.overflow-x-visible{
	overflow-x: visible;
	overflow-y: hidden;
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}
.tp-black-bg{
	background-color: var(--tp-common-black);
}
.tp-blue-bg{
	background-color: var(--tp-theme-color);
}
.tp-nblue-bg{ 
	background-color: var( --tp-body-nblou-color);
}
.tp-yellow-bg{
	background-color: var(  --tp-theme-color-2);
}
.tp-cream-bg{
	background-color: var(  --tp-cream );
}
.tp-theme-black-bg{
	background-color: var( --tp-heading-color );
}

.br-24{
	border-radius: 24px;
}
.br{
	&-140{
		border-radius: 140px;
	}
	&-150{
		border-radius: 150px;
	}
	&-15{
		& img{
			border-radius: 15px;
		}
	}
	&-20{
		border-radius: 20px;
		& img{
			border-radius: 20px;
		}
	}
}
.tp-brand-slide-element{
	width: auto;
	display: inline-block;
}
.tp-slide-transition{
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.tp-upper{
	text-transform: uppercase;
}
.tp-fns{
	&-30{
		font-size: 30px;
	}
}