@use '../utils' as *;

.tp-btn {
	background-color: var(--tp-theme-color);
	padding: 16px 40px;
	font-size: 18px;
    font-family: var(--tp-font-heading);
    border-radius: 5px;
    display: inline-block;
    color: #fff;
	& i{
		height: 100%;
		width: 15px;
		background-color: #71A2FF;
		display: block;
		position: absolute;
		top: 1px;
		right: -8px;
		transform: rotate(7deg);
	}
	&:hover{
		color: #FFFFFF;
		& i{
			opacity: 0;
		}
		& .tp-btn-y-2{
			transform: translateY(0);
		}
		& .tp-btn-y-1{
			transform: translateY(-100%);
		}
	}
	&-sec {
		background-color: var(--tp-theme-color-2);
		padding: 17px 48px;
		font-size: 18px;
		font-family: var(--tp-font-heading);
		border-radius: 5px;
		display: inline-block;
		color: var(--tp-common-black);
		position: relative;
		
		&-lg{
			padding: 22px 48px;
		}
		& i{
			height: 100%;
			width: 15px;
			background-color: #E5CF00;
			display: block;
			position: absolute;
			top: 1px;
			right: -8px;
			transform: rotate(7deg);
		}
		&:hover{
			& i{
				opacity: 0;
			}
			& .tp-btn-y-2{
				transform: translateY(0);
			}
			& .tp-btn-y-1{
				transform: translateY(-100%);
			}
		}
	}
	&-circle{
		font-size: 60px;
		line-height: 70px;
		font-family: var(--tp-font-heading);
		opacity: 0.3;
		color: #FFFFFF;
		border: 1px solid #FFFFFF;
		padding: 45px 75px;
		border-radius: 100%;
		@media #{$xs} {
			font-size: 30px;
		}
		&:hover{
			background-color: blue;
			opacity: 1;
			color: #FFFFFF;
		}
	}
	&-wrap{
		display: block;
		& span{
			display: block;
			transition: 0.2s;
			width: 100%;
		}
	}
	&-y-1{
	}
	&-y-2{
		position: absolute;
		left: 0;
		top: 0;
		transform: translateY(100%);
	}

	&:hover{

	}
	&-orange{
		background-color: var(--tp-theme-orange);
		& i{
			
			background-color: #FFAD8A;
			
		}
	}
}
.tp-text-btn{
	font-size: 18px;
	line-height: 28px;
	color: var(--tp-body-color);
	& i{
		transform: rotate(-45deg);
		margin-left: 12px;
	}
	&-white{
		color: #A3AEC3;
	}
}





