@use '../../utils' as *;

.tp-about-img{
    & img{
        border-radius: 20px;
    }
}
.tp-about-right{
    @media #{$xl} {
        padding-left: 10px;
    }
    @media #{$lg,$md,$xs} {
        padding-left: 0;
    }
   
}
.tp-about-video{
    @media #{$xl} {
        padding-left: 10px;
    }
    @media #{$lg,$xs} {
        padding-left: 0;
    }
    @media #{$xs} {
        padding-top: 30px;
    }
    &-icon{
        & a{
            width: 80px;
            height: 80px;
            border: 1px solid #57595C;
            border-radius: 50%;
            text-align: center;
            line-height: 80px;
            color: #0A0E1A;
            display: inline-block;
        }
        & h4{
            font-size: 30px;
           
        }
    }
}
.tp-about-shape{
    &-1 {
        top: 30%;
        left: 40px;
        z-index: 1;
    }
    &-2 {
        top: 42%;
        z-index: 1;
        left: 37%;
    }
    &-3 {
        top: 30%;
        z-index: 1;
        right: 0;
    }
}
.tp-about-3-shape{
    &-1{
        top: 150px;
        left: 0;
    }
    &-2{
        top: 0;
        left: 500px;
    }
}
.tp-about-content{
    & ul{
        &   li{
            list-style: none;
            line-height: 40px;
            margin-bottom: 15px;
            &  i{
                font-size: 30px;
                margin-right: 10px;
            }
            &  span{
                font-size: 30px;
                display: inline-block;
                
            }
        }
    }
}
.tp-about-circle{
    right: 185px;
    top: 0;
    position: absolute;
    & img{
        max-width: inherit;
    }
}
.tp-about-3{
    &-thumb{
        & img{
            z-index: 2;
            position: relative;
        }
    }
    &-circle{
        width: 615px;
        height: 596px;
        border-radius: 100%;
        background-color: #FEDC76;
        z-index: 1;
        left: 60px;
        bottom: 0;
    }
}
.tp-about-area-4 {
	border-radius: 357.5px;
}
// .tp-founder-sep{
//     height: 40px;
//     width: 1px;
//     background-color: #FF3838;
//     text-align: center;
// }
// .parent-container {

//     position: relative;
//     height: 20px;
// }

.tp-founder-sep {
    height: 40px;
    width: 1px;
    background-color: #FF3838;
    margin: auto;
}
.tp-founder-area{
    background-repeat: no-repeat;
    background-position: center;
}
.tp-about-5-right{
    right: 0;
    bottom: 0;
    top: 0;
}