@use '../../utils' as *;

.tpblog{
    &__content{
        @media  #{$lg,$md} {
            margin-left: 0;
        }
    }
    &__thumb{
        & img{
            width: 100%;
        }
    }
    &__title{
        & a{
            font-size: 30px;
            line-height: 40px;
            color: #0A0E1A;
            @media  #{$lg} {
               font-size: 25px;
            }
        }
    }
    &__meta{
        & span{
            font-size: 17px;
            line-height: 28px;
            color: var(--tp-body-color);
            & i{
                margin-right: 8px;
            }
        }
        & cite{
            width: 2px;
            height: 16px;
            background-color: #57595C;
            display: inline-flex;
            align-items: center;
            margin: 0 15px;
        }
    }
    &-2{
        border: 1px solid #57595C;
        border-left: 0;
        border-radius: 10px;
        .tpblog__thumb{
            & img{
                height: calc(100% + 24px);
                transform: translateY(-12px);
                object-fit: cover;
            }
            flex: 0 0 auto;
           
        }
    }
   
}