@use '../../utils' as *;


.tp-brand-title{
    & h3{
        font-size: 100px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
}
.bg{
    // background: radial-gradient(5198.42% 57.77% at 47.5% 62%, #0058FF 0%, #FF4C00 100%);
    background: linear-gradient(to right, #0058FF 0%, #FF4C00 100%);

}





