@use '../../utils' as *;
.custom-row{
    display: flex;
    justify-content: space-between;
    @media #{$md,$xs} {
        flex-wrap: wrap;
    }
    @media #{$xs} {
        justify-content: center;
    }
}
.tpfact{
    &__icon{
        & span{
            font-size: 110px;
            display: inline-flex;
            color: var(--tp-theme-color-2);
        }
    }
    &__text{
        & span{
            font-size: 100px;
            line-height: 110px;
            color: #FFFFFF;
            display: inline-block;

        }
    }
    &__title{
        font-size: 30px;
        line-height: 40px;
        color: #FFFFFF;
        opacity: 0.5;
    }
    &-2{
        & .tpfact{
            &__icon{
                & span{
                    color: var( --tp-body-color);
                }
                &-2  {
                    &   span{
                        i{
                            font-size: 85px;
                            color: var(--tp-theme-orange);
                        }
                    }
                }
            }
            &__text{
                & span{
                    color: var(--tp-common-black);
                }
            }
            &__title{
                color: var(--tp-common-black);
                opacity: 1;
            }
        }
        
    }
   
}
.cols{
    @media #{$md,$sm} {
        width: 50%;
    }
}