@use '../../utils' as *;
.custom-row{
    display: flex;
    justify-content: space-between;
    @media #{$md,$xs} {
        flex-wrap: wrap;
    }
    @media #{$xs} {
        justify-content: center;
    }
}
.tpfact{
    &__icon{
        & span{
            font-size: 110px;
            display: inline-flex;
            color: var(--tp-theme-color-2);
        }
    }
    &__text{
        & span{
            font-size: 100px;
            line-height: 110px;
            color: #FFFFFF;
            display: inline-block;

        }
    }
    &__title{
        font-size: 30px;
        line-height: 40px;
        color: #FFFFFF;
        opacity: 0.5;
    }
}
.cols{
    @media #{$md,$sm} {
        width: 50%;
    }
}