@use '../../utils' as *;

.tp-hero{
    @media #{$xxlm} {
        margin-left: 90px;
    }
    &-title{
        
        color: #FFF;
        font-size: 110px;
        @media #{$xl} {
            font-size: 100px;
        }
        @media #{$lg} {
            font-size: 75px;
        }
        @media #{$md} {
            font-size: 65px;
        }
        text-transform: uppercase; 
        font-weight: 400;
        margin: 0;
        & span{
            background: radial-gradient(42.24% 2817.5% at 52.45% 54.17%, rgba(255, 232, 21, 0.95) 0%, #3C7FFF 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        & i{
            color: #B1B4BA;
            font-size: 30px;
           font-style: normal;
           display: inline-block;
           margin-right: 45px;
           transform: translateY(-5px);
        }
    }
}
.tp-hero-info{
    color: #B1B4BA;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100px;
    height: 100%;
    position: absolute;
    top: 100px;
    z-index: 11;
    border-right: 1px solid rgba(255, 255, 255,.15);
}
.tp-hero-info-sotial {
	// display: block ruby;
	transform: rotate(-90deg);
    white-space: nowrap;
}
.tp-hero-info-text {
	// display: block ruby;
    white-space: nowrap;
	transform: rotate(-90deg);
}
.tp-hero-shape-2 {
	left: 382px;
	top: 295px;
    z-index: 1;
    @media #{$xl} {
        width: 25%;
        top: 40%;
    }
}
.tp-hero-shape-1 {
	left: -50px;
	top: 357px;
    z-index: 1;
}
.tp-hero-shape-3 {
	left: 57%;
	top: 32%;
    z-index: 1;
}
.tp-hero-shape-4{
	right: 300px;
	bottom: 130px;
    z-index: 1;
    @media #{$md} {
        right: 100px;
        bottom: 100px;
        max-width:  50%;
    }
}
.tp-hero-shape-5 {
	right: 190px;
	top: 210px;
    z-index: 1;
    @media #{$md} {
        right: 0;
        top: 100px;
    }
}


