@use '../../utils' as *;


.tp-newsletter{
    &-margin{
        margin-top: -110px;
    }
    &-bg{
        padding: 80px;
        border-radius: 20px;
        @media #{$md} {
            padding-left: 40px;
            padding-right: 40px;
        }
        @media #{$xs} {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    &-back{
        line-height: 1;
        font-size: 100px;
        color: #FFFFFF;
        opacity: .10;
        position: absolute;
        left: 110px;
        bottom: -10px;
        pointer-events: none;
        height: 70px;
        @media #{$xl} {
            font-size:60px;
            bottom: -37px;
            left: 80;
        }
        @media #{$md} {
            font-size:60px;
            top: 40%;
            bottom: inherit;
            left: 80px;
        }
    }
    &-box{
        @media #{$lg} {
            margin-top: 30px;
        }
        & input{
            color: #fff;
            border-color: #fff;
  
            @include tp-placeholder{
                color:#fff;
            }
            &:focus{
                border-color: #fff;
            }
        }
        
        & form{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: end;
            @media #{$xs} {
                display: block;
            }
        }
    }
    &-input{
        width:calc(100% - 221px);
        @media #{$xs} {
            width: 100%;
            margin-bottom: 30px;
        }
        & img{
            position: absolute;
            right: 20px;
            top: 22%;
            line-height: 26px;
        }
        & i{
            position: absolute;
            right: 20px;
            top: 22%;
            line-height: 26px;
            color: #57595C;
        }
    }
    &-box-2{
        & input{
            color: #57595C;
            border-color: #57595C;
  
            @include tp-placeholder{
                color:#57595C;
            }
            &:focus{
                border-color: #57595C;
            }
        }
        & .tp-newsletter-back{
            color: #EEEBE6;
            opacity: 1;
        }
    }

}