@use '../../utils' as *;

.tp-project-tab{
    @media #{$md,$xs} {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    & button{
        font-family: var(--tp-font-heading);
        font-size: 100px;
        line-height: 1.2;
        font-style: normal;
        font-weight: 400;
        color: #FFFFFF;
        display: block;
        border-bottom: 1px solid  #2f446b ;
        padding-left: 110px;
        padding-right: 30px;
        padding-top: 10px;
        @media #{$xxlm}{
            font-size: 80px;
        }
        @media #{$xl}{
            font-size: 60px;
            padding-left: 80px;
        }
        @media #{$lg}{
            font-size: 44px;
            padding-left: 40px;
        }
        @media #{$md}{
            font-size: 35px;
            padding-left: 10px;
            margin-bottom: 30px;
            display: inline-flex;
            
        }
        @media #{$xs}{
            font-size: 16px;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 15px;
            display: inline-flex;
        }

        &.active{
            color: var(--tp-theme-color-2);
            border-bottom: 1px solid   var(--tp-theme-color-2) ;

        }
    }
    &-thumb{
        padding-left: 20px;
        padding-right: 100px;
        @media #{$md,$xs} {
            padding-right: 40px;
            padding-left: 40px;
        }
        & img{
            @media #{$xxlm,$md} {
                width: 100%;
            }
        }
    }
}

.tpportfolio{
    position: relative;
    &:hover{
        & .tpportfolio__text{
            display: block;
        }
    }
    &__thumb{
        & a{
            & img{
                border-radius: 20px;
            }
        }
    }
    &__text{
        position: absolute;
        left: 50px;
        bottom: 50px;
        display: none;
    }
    &__title{
        & h3{
            font-size: 30px;
            background-color: #FFFFFF;
            padding: 12px 14px;
            color: var(--tp-common-black);
            margin-top: 8px;
        }
        & span{
            display: inline-block;
            font-size: 15px;
            background-color: #FFFFFF;
            padding: 9px 20px;
            color: var(--tp-common-black);
            text-transform: uppercase;
        }
    }
}


.tp-showcase{
    &__number{
        & span{
            color: #A3AEC3;
            font-size: 30px;
            position: relative;
            display: inline-block;
            &::before{
                content: "";
                position: absolute;
                left: -76px;
                top: 50%;
                width: 60px;
                height: 1px;
                background-color: #A3AEC3;
            }
        }
    }
    &__cat{
        & span{
            color: #0A0E1A;
            background-color: #FFE9C9;
            padding: 4px 17px;
            border-radius: 30px;
            text-transform: uppercase;
            font-size: 15px;
        }
    }
    &__title{
        font-size: 40px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
  
}

.tpproject-wrapper-4{
    border-radius: 20px;
    &  .tpproject-text{
        padding-left: 30px;
        padding-right: 30px;
    }
    &   .tpproject-content{
        padding-top: 30px;
       
      
        &   span{
            color: #57595C;
            font-size: 15px;
            text-transform: uppercase;
        }
    }
    &   .tpproject-title{
        color: #0A0E1A;
        font-size: 30px;
        padding: 20px   0;
        padding-right: 10px;
    }
    &:hover{
        &   .circle-icon-btn{
            background: var(--tp-theme-orange);
            border:none;
            &	i{
                color: #FFFFFF;
                
            }
        }
    }
}
.tpproject-slider-active{
    margin-left: -100px;
    margin-right: -100px;
}