@use '../../utils' as *;

.tpservices{
    border: 1px solid #57595C;
    padding: 50px 40px;
    margin-right: 0px;
    margin-right: -1px;
    transition: .3s;
    @media #{$xl}{
        padding: 50px 20px;
    }

    &__title{
        font-family: 'Federo';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        color: #0A0E1A;
    }
    &__text{
        & ul{
            list-style: none;
            & li{
                font-size: 17px;
                color: #57595C;
                margin-bottom: 5px;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 28px;

                &::before{
                    content: "";
                    background-color: #57595C;
                    height: 8px;
                    width: 8px;
                    display: inline-block;
                    margin-right: 8px;
                    transform: translateY(-2px);
                    border-radius: 30px;
                }
            }
        }
    }
   
    &:hover{
        background-color: var( --tp-rom-color);
        & .tp-sv-btn{
            background-color: var(--tp-theme-color);
            color: #fff;
        }
    }
}

.tp-sv-btn{
    font-family: var(--tp-font-heading);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    background-color: var( --tp-rom-color);
    padding: 6px 28px;
    color: #0A0E1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: .3s;
    & i{
        transform: rotate(-45deg);
    }

   
}





