@use '../../utils' as *;
.tpteam{
    &-area{
        @media #{$md,$xs} {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    &-thum{
        & a{
            & img{
                border-radius: 15px;
            }
        }
    }
    &-info{
        & h3{
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 40px;
            padding-left: 80px;
            padding-top: 40px;
            @media #{$xxlm,$xl} {
                padding-left: 0;
            }
            @media #{$xl, $lg, $md,$sm} {
                font-size: 25px;
            }
            @media #{ $lg} {
               padding-left: 10px;
            }
            @media #{ $md} {
               padding-left: 40px;
            }
            @media #{ $sm} {
               padding-left: 20px;
            }
           
        }
        & span{
            font-size: 17px;
            padding-left: 135px;
            padding-bottom: 30px;
            display: inline-block;
            @media #{$xxlm} {
                padding-left:70px;
            }
            @media #{$xl} {
                padding-left:25px;
            }
            @media #{$lg} {
                padding-left:35px;
            }
            @media #{$md} {
                padding-left: 80px;
            }
            @media #{$sm} {
                padding-left: 40px;
            }
           
            & i{
                height: 1px;
                width: 60px;
                display: inline-block;
                background-color: #D6D6D1;
                transform: translateY(-4px);
                padding-right: 10px;
                
            }
        }
        
    }
    &-social{
        padding-left: 80px;
        @media #{ $lg} {
            padding-left: 10px;
         }
        @media #{$md} {
            padding-left: 40px;
        }
        @media #{$xs} {
            padding-left: 20px;
        }
        

        & a{
            font-size: 25px;
            line-height: 30px;
            display: inline-block;
            margin-right: 20px;
        }
    }
    &-2{
        &:hover{
            & .tpteam-thumb .social-icons{
                display: flex;
            }
            & .tpteam-info h3{
                color: #0057FC;
            }
        }
        & .tpteam-thumb{
            
            img{
                border-radius: 15px;
            }
            & .social-icons{
                display: none;
                justify-content: center;
                align-items: center;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
               &-wrapper{
                
                & i{
                    font-size: 22px;
                    padding: 10px;
                    margin: 5px;
                    background-color: #FFFFFf;
                    border-radius: 30px;
                }
               }
            }
        }
        & .tpteam-info{
            & span{
                padding: 0;
                padding-top: 32px;
                padding-bottom: 15px;
            }
            & a{
                & h3{
                    padding: 0;
                }
            }
        }
    }
}
.tp-team-slider-btn{
    margin-bottom: 20px;
    & span{
        display: inline-flex;
        height: 10px;
        width: 10px;
        background-color: #000;
        border-radius: 100%;
        margin: 0 10px;
    }
    & .tp-team-swiper-button{
        display: inline-flex;
        font-size: 52px;
    }
}


