@use '../../utils' as *;

.tptestimonial{
    &-quote{
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        @media #{$lg} {
            top: 0;
        }
    }
    &-desc{
        font-size: 100px;
        color: var( --tp-heading-color);
        padding: 0 75px;
       @media #{$xl} {
        font-size: 70px;
       }
       @media #{$lg} {
        font-size: 60px;
       }
       @media #{$md} {
        font-size: 50px;
       }

    }


      
       
    &-name{
        color: var( --tp-heading-color);
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 5px;
    }
    &-desig{
        color: var( --tp-body-color);
        display: block;
        font-size: 17px;
        line-height: 28px;
        padding-left: 76px;
        & span{
            height: 1px;
            width: 60px;
            background-color: var(--tp-body-color);
            display: inline-block;
            margin-right: 10px;
            transform: translateY(-3px);
        }
    }
    
}
.tp-swiper-test-button{
    position: absolute;
    top: 30%;
    left:-100px;
    z-index: 9;
    font-size: 52px;
    @media #{$xxlm,$xl, $md} {
        top: inherit;
        bottom: 0;
        left: 0;
    }
    @media #{$lg} {
        left: 0;
    }
    &-prev{
        
    }
    &-next{
        left: auto;
        right: -100px;
        @media #{$xxlm, $xl, $md} {
            right: inherit;
            left: 100px;
            bottom: 0;
    
        }
        @media #{$lg} {
            right: 0;
        }
    }
}
.tp-rot-180{
    transform: rotate(180deg);
}
.tptestimonial-thum{
    &-1{
        left:  0;
        top: 106px;
    }
    &-2{
        right: 0;
        top: 33px;
    }
}